<div class="ui olive vertical footer segment">
    <div class="ui center aligned container">
        <div class="ui stackable divided grid">
            <div class="four wide column">
                <h4 class="ui header">Other Brady</h4>
                <div class="ui link list">
                    <a href="https://www.youtube.com/user/bradygaster" class="item">YouTube channel</a>
                    <a href="https://channel9.msdn.com/Niners/bradygaster">Channel 9</a>
                    <a href="https://twitter.com/bradygaster" class="item">Twitter</a>
                    <a href="https://www.linkedin.com/in/bradygaster/" class="item">LinkedIn</a>
                </div>
            </div>
            <div class="eight wide left column">
                <h4 class="ui header">Disclaimer</h4>
                <p>All these words are mine.</p>
                <p>&copy; Brady Gaster 2018</p>
            </div>
            <div class="four wide column">
                <h4 class="ui header">Azure & .NET Resources</h4>
                <div class="ui link list">
                    <a href="https://www.microsoft.com/net/learn/architecture" class="item">.NET Architecture Guide</a>
                    <a href="https://www.microsoft.com/net/learn/architecture/migrate-to-the-cloud" class="item">Migrate to Azure</a>
                    <a href="https://docs.microsoft.com/en-us/azure/" class="item">Azure documentation</a>
                    <a href="https://marketplace.visualstudio.com/search?target=VSCode&category=Azure&sortBy=Downloads" class="item">Azure Extensions for Visual Studio Code</a>
                </div>
            </div>
        </div>
        <div class="ui section divider"></div>
        <a href="http://semantic-ui.com" title="Built using Semantic UI">
            <img src="~/images/logo.png" class="ui centered mini image">
        </a>
        <div class="ui horizontal small divided link list">
            <a class="item" href="/Contact">Contact</a>
        </div>
    </div>
</div>