@using downr.Models;

@{
    ViewData["Title"] = (ViewData["IndexModel"] == null) ? "" : ": " + (ViewData["IndexModel"] as IndexModel).Post.Title;
}

<title>bradygaster.com @ViewData["Title"]</title>