<div class="ui card">
    <div class="image">
        <img src="/images/me.png">
    </div>
    <div class="content">
        <a class="header">Brady Gaster</a>
        <div class="description">
            Hi! I'm a christian dad who lives near Seattle, where I work with the talented folks at Microsoft to create compelling demonstrations
            for conferences that instruct and inspire developers who want to party in the cloud.
        </div>
        <div class="meta">&nbsp;</div>
        <div class="meta">
            <a class="twitter-follow-button" href="https://twitter.com/bradygaster">
                Follow @Html.Raw("@")bradygaster</a>
        </div>
    </div>
</div>
